/*
 * Base Scripts
 */
.customizer {
  &__container {
    width: 100%;
    height: 100%;
    padding: 10px 0;
  }
  &__wrapper {
    gap: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 10px;
    position: relative;
    border-radius: 10px;
    flex-direction: column;
    // border: 1px solid #dddd;
    justify-content: space-between;
  }
  &__footer,
  &__header {
    gap: 10px;
    display: flex;
    padding: 10px 0;
    flex-wrap: wrap;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddd;
    // &__title {}
    &__tabs {
      gap: 5px;
      margin: unset;
      display: flex;
      padding: unset;
      flex-wrap: wrap;
      list-style: none;
      align-items: center;
      justify-content: start;
    }
    &__tab {
      width: 100px;
      margin: unset;
      display: none;
      .form-control {
        &[readonly] {
          margin: auto;
          cursor: grab;
          font-size: 16px;
          border-radius: 7px;
          background: #fff;
          width: 100% !important;
          border: 1px solid #dddd;
          background-color: transparent !important;

          // Disabling text selection
          user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;

        }
      }
      &.active {
        border-radius: 7px;
        box-shadow: 0 0 7px rgb(216 216 216 / 77%);
        .form-control {
          border: 1px solid #333;
        }
      }
    }
    &__actions {
      gap: 5px;
      display: flex;
      > button {
        display: flex !important;
        font-size: 13px !important;
        padding: 0 10px !important;
        min-height: unset !important;
        line-height: 30px !important;
        align-items: center !important;
        margin-bottom: unset !important;
        .dashicons-before {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  &__footer {
    border-bottom: unset;
    border-top: 1px solid #dddd;
  }
  &__body {
    overflow: auto;
    // padding: 10px 0;
    min-height: 200px;
  }
  &__state {
    &.is-loader {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
    &__tabs {
      gap: 20px;
      display: flex;
      flex-direction: column;
      &.toggle-all {
        .customizer {
          &__state {
            &__tab {
              &__footer,
              &__body {
                display: none;
              }
            }
          }
        }
      }
    }
    &__tab {
      width: 100%;
      // display: none;
      border: 1px solid #dddd;
      box-shadow: 0 0 20px #dddddd52;
      &.active {
        display: block;
      }
      & > * {
        width: 100%;
      }
      &__header {
        gap: 10px;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0 20px 0 10px;
        justify-content: space-between;
        border-bottom: 1px solid #dddd;
        &__title {
          gap: 10px;
          display: flex;
          font-size: 16px;
          font-weight: 600;
          color: #3e3e3e;
          align-items: center;
          .form-control {
            border: none;
            font-size: 16px;
            min-width: 300px;
          }
        }
        &__actions {
          gap: 10px;
          display: flex;
          flex-wrap: wrap;
          .dashicons-before {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
          }
        }
      }
      &__body {
        height: calc(100% - 80px);
        &.toggle-all {
          .customize__step {
            &__body {
              display: none;
            }
          }
        }
      }
      &__body, &__footer {
        overflow: hidden;
        transition: all .7s ease-in-out;
        &.inactive {
          height: 0;
        }
      }
      &__footer {
        gap: 10px;
        height: 40px;
        display: flex;
        padding: 0 20px;
        flex-wrap: nowrap;
        align-items: center;
        border-top: 1px solid #dddd;
        justify-content: space-between;
        &__actions {
          gap: 10px;
          display: flex;
          flex-wrap: nowrap;
          .btn {
            height: 30px;
            font-size: 14px;
            min-height: unset;
            padding: 5px 10px;
            line-height: 16px;
          }
        }
      }
    }
    &__body {
      padding: 10px;
      // border: 1px solid #ddd;
    }
    // &__fields {}
  }
  &__repeater {
    &__tab {
      margin: auto;
      font-size: 20px;
      color: #8d8d8d;
      font-weight: 900;
      padding: 10px 20px;
      border-radius: 10px;
      background: transparent;
      border: 1px solid #dddd;
      text-transform: uppercase;
    }
  }
  &__addnew {
    &__form {
      gap: 10px;
      display: flex;
      margin: 10px 0;
      margin-bottom: 30px;
      flex-direction: column;
      font-family: sans-serif;
    }
    &__type {
      &__select {
        // 
      }
    }
    &__form-wrap {
      // 
    }
    &__field {}
    &__form {}
    &__input-group {
      gap: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      // border-radius: 10px;
      // transition: all .7s ease;
      // border: 1px solid transparent;
      // &:hover {
      //   border-color: #dddd;
      // }
      label {
        margin: unset !important;
      }
    }
  }
  &.expanded {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: fixed;
    background: #fff;
    .customizer {
      &__container {
        padding: unset;
      }
      &__wrapper {
        border: none;
      }
      &__body {
        padding: unset;
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-track {
          background: #f1f1f1; 
        }
        &::-webkit-scrollbar-thumb {
          background: #888; 
          border-radius:10px;
        }
        &::-webkit-scrollbar-thumb:hover {
          
          background: #555; 
        }
      }
    }
  }
}

/*
 * Custom necessery css scripts it required.
*/
#woocommerce-coupon-data ul.wc-tabs li.customized_tab a::before, #woocommerce-product-data ul.wc-tabs li.customized_tab a::before, .woocommerce ul.wc-tabs li.customized_tab a::before {
  content: "\f540";
}






.customize__step {
  margin: auto;
  padding: unset;
  border-radius: 3px;
  margin-bottom: 1rem;
  border: 1px solid #dedede;
  // & > 
  .form-group {
    display: flex;
    flex-direction: column;
    .form-label {
      padding: unset;
      font-size: 16px;
      margin-top: 1rem;
      line-height: 18px;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }
    input {
      &[type="range"] {
        appearance: auto;
      }
    }
  }
  &__header {
    border: none;
    display: flex;
    cursor: pointer;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.2rem 1rem;
    align-content: center;
    background-color: #f8f9fa;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    &[data-status="hidden"] {
      border-bottom: none;
    }
    > input[name="fieldID"] {
      visibility: hidden;
    }
    &__text {
      // width: 150px;
      font-size: 18px;
      text-transform: uppercase;
    }
    &__actions {
      gap: 10px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
    .field_id {
      background: none;
      border: none;
      /* text-align: center; */
      max-width: 50px;
      font-size: 20px;
      color: #333;
    }
    &__remove {
      display: flex;
      padding: 5px 10px;
    }
  }
  &__body {
    gap: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    > .form-group {
      > input:not([type="radio"]):not([type="checkbox"]):not([type="button"]) {
        width: 100%;
        margin-top: 7px;
        color: #767676;
        padding: 5px 10px;
        border-radius: 7px;
        border: 1px solid #ddd;
      }
      > button.imglibrary {
        max-width: 200px;
      }
      &.checkbox-reverse {
        gap: 10px;
        align-items: center;
        flex-direction: row;
        > label {
          order: 2;
        }
      }
      label.form-label {
        width: auto;
        float: unset;
        margin: unset;
        font-size: 14px;
        font-size: 14px;
        font-weight: 500;
        color: #767676;
        line-height: 25px;
        margin-bottom: auto;
        padding-bottom: unset;
        text-transform: inherit;
      }
      // 
      .single-repeater {
        &-options {
          padding: 10px;
          margin: 20px 0 0;
          border-radius: 7px;
          border: 1px solid #dddd;
          + .do_repeater_field {
            width: 150px;
            color: #333;
            font-size: 16px;
            border-radius: 7px;
            border: 1px solid #ddd;
          }
        }
        &-option {
          padding: unset;
          margin: 10px auto;
          padding-top: 10px;
          position: relative;
          border-radius: 7px;
          /* border: 1px solid #dedede; */
          &:not(:last-child) {
            margin-top: 0.5rem;
          }
          > .input-group {
            width: 100%;
          }
          // .dashicons-controls-forward,
          // .dashicons-trash {
          //   top: 0;
          //   right: 0;
          //   margin: auto;
          //   height: 100%;
          //   width: 2.2rem;
          //   display: flex;
          //   padding: unset;
          //   cursor: pointer;
          //   position: absolute;
          //   align-items: center;
          // }
          .input-group-append,
          .input-group-prepend {
            max-width: 50px;
            .input-group-text {
              width: 90%;
              margin: auto;
              border-radius: unset;
              border: 1px solid #ddd;
              justify-content: space-around;
              box-shadow: 1px 1px 5px #ddd;
            }
          }
          .awesomplete {
            width: calc(100% - 100px);
            & > .form-control {
              border-radius: unset;
              border-color: #ddd;
              border-width: 1px 0px 1px 0px;
            }
            ul[role="listbox"] {
              padding: unset;
              padding-left: 10px;
              border: 1px solid #eee;
              li[role="option"] {
                border: none;
                display: flex;
                font-size: 16px;
                align-items: center;
                &:not(:last-child) {
                  border-bottom: 1px solid #eeee;
                }
                mark {
                  line-height: 15px;
                }
                img {
                  order: -1;
                  width: 20px;
                  height: 20px;
                  margin-right: 5px;
                  transition: all .7s ease-in-out;
                  &:hover {
                    scale: 3;
                    padding: 2px;
                    border-radius: 3px;
                    background: #333333d1;
                  }
                }
              }
            }
          }
          .input-group-text {
            .dashicons-before {
              display: flex;
              align-items: center;
            }
          }
          &.single-repeater-group {
            padding: unset;
            .single-repeater-header {
              border: none;
              display: flex;
              font-size: 16px;
              line-height: 20px;
              padding: 5px 10px;
              align-items: center;
              justify-content: space-between;
              border-bottom: 1px solid #dedede;
              .form-label {
                margin-top: auto;
              }
            }
            .single-repeater-body {
              padding: 10px;
            }
          }
        }
        &-head {
          display: flex;
          cursor: pointer;
          padding: 5px 10px;
          align-items: center;
          background: #eeeeee54;
          justify-content: space-between;
          border: 1px solid #dddd;
          border-bottom: unset;
        }
        &-headacts {
          gap: 10px;
          display: flex;
          flex-wrap: nowrap;
        }
        &-body {
          border-top: unset;
          padding: 20px 10px 10px;
          border: 1px solid #ddd;
        }
      }
    }
  }
}
.imgpreview {
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin-left: 10px;
  position: relative;
  display: inline-block;
  border-radius: 5px 0 5px 5px;
  &.no-image {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .dashicons-dismiss {
    top: 0;
    z-index: 1;
    width: 20px;
    left: unset;
    right: -20px;
    height: 20px;
    color: #333;
    cursor: pointer;
    background: #fff;
    position: absolute;
    transition: all .3s ease;
    border-radius: 0 0 0 6px;
    box-shadow: 0 0 5px #ddd;
  }
  &:hover {
    .dashicons-dismiss {
      right: 0;
    }
  }
}
// Context menu css
.contextmenu {
  padding: 5px;
  display: none;
  z-index: 99999;
  position: fixed;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px #ddd;
  &__list {
    list-style: none;
    padding: 5px;
    margin: auto;
    &__item {
      margin: auto;
      background: none;
      min-width: 100px;
      text-align: -webkit-auto;
      transition: all .3s ease;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
      a {
        width: 100%;
        display: block;
        color: #333;
        text-decoration: none;
      }
      &:hover {
        background: #dedede;
        a {
          padding-left: 10px;
        }
      }
    }
  }
}
.gallery {
  &-row {
    gap: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  &-card {
    padding: 5px;
    border: 1px solid #dddd;
    &-img {
      margin: 0;
      display: block;
    }
    &-foot {
      display: flex;
      padding: 0 10px;
      margin: 20px 0 0 0;
    }
  }
}


.btn.is_loading {
  gap: 5px;
  display: flex;
  flex-wrap: nowrap;
  .spinner-material {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #676767;
    animation: spinner-bulqg1 0.8s infinite linear alternate, spinner-oaa3wk 1.6s infinite linear;
  } 
}
@keyframes spinner-bulqg1 {
  0% {
     clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
     clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25% {
     clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }
  50% {
     clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  62.5% {
     clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  75% {
     clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }
  100% {
     clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}
@keyframes spinner-oaa3wk {
  0% {
     transform: scaleY(1) rotate(0deg);
  }
  49.99% {
     transform: scaleY(1) rotate(135deg);
  }
  50% {
     transform: scaleY(-1) rotate(0deg);
  }
  100% {
     transform: scaleY(-1) rotate(-135deg);
  }
}
.form-controls-config {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  .w-half {
    width: calc(50% - 10px);
  }
  .w-full {
    width: 100% !important;
  }
  input:not([type=radio]):not([type=checkbox]):not([type=button]) {
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid #ddd;
  }
}
.swal2-container.swal2-center.swal2-backdrop-show {
  z-index: 99999;
}
body div[data-tippy-root][id] {
  z-index: 99999 !important;
}