/* Including parts. */
// @import "navmenu";
// // @import "elementor";
// @import "icons";
// @import "map";

$blackColor: #333;
$primaryColor: #e63f51;
$primaryDarkColor: #912833;
$primaryLightColor: #ffdbdf;
$secondaryColor: #FFCF02;
$popupStepHeight: 300px;

$frameWidth: 350px;
$frameHeight: 600px;

