// Site variables.
$white_color: #FFFFFF;
$primary_color: #2c2b2b;
$secondary_color: #c9a670;
$secondary_color_dark: #c9a670;
$secondary_color_light: #eadbc6;
$primary_button_bg: #2c2b2b;
$primary_button_hover_bg: $secondary_color;

$primary_text_dark: #2c2b2b;
$primary_text_light: $white_color;

$primary_border: 1px solid $secondary_color_dark;
$primary_border_radius: 0px;

// Default Border Radius
$border-radius: 3px;

// mq breakpoints.
$mq-breakpoints: (
	mobile: 450px,
	small: 600px,
	medium: 768px,
	large: 1024px,
	xlarge: 1240px
) !default;

$site_width: 1140px;
$wide_width: 1240px;
$padding-left: 15px;
$padding-right: 15px;

$margin-top: 60px;
$margin-bottom: 60px;
