/* Text hover slider on homepage*/
.custom-widget .title3 {
    opacity: 0;
}

.custom-widget:hover .title2,
.custom-widget img:hover + .title3 {
    opacity: 0;
}

.custom-widget:hover .title3 {
    opacity: 1;
}
/* End*/
#pijlen .elementor-widget-image .elementor-widget-container {
	background:white !important;
}





/*
*/
.emrehoverver img:hover {
    opacity: 0.2 !Important;
    background: white !important;
}
.emrehoverver:hover::before {
    transform: translateY(140%) !important;
}
.eersteerijimg::before {
   content: "";
    position: absolute;
    top: -63%;
    left: 15%;
    width: 9rem;
    height: 10rem;
    background-color: #000000;
    transform: translateY(0);
    transition: transform 0.6s ease;
}
.eersteerijimg::before {
    font-family: "Syntax lt std", Sans-serif;
    font-size: 16px;
    line-height: 1em;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
    content: "SAMEN\aPLEKKEN\aMAKEN";
    display: flex;
    padding-top: 6.9rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    text-align: left;
    white-space: pre;
	z-index:999;
	
}
.eersteerijimg {
	overflow:hidden !important;
}



/** hover **/
.home .swiper-slide-prev .elementor-widget-heading,
.home .swiper-slide-prev .elementor-widget-text-editor,
.home .swiper-slide .elementor-widget-heading,
.home .swiper-slide .title1,
.home .swiper-slide .title2,
.home .swiper-slide .title3 {
}

.home .swiper-slide-active .elementor-widget-heading,
.home .swiper-slide-active .elementor-widget-text-editor,
.home .swiper-slide-next .elementor-widget-text-editor,
.home .swiper-slide-next .title1,
.home .swiper-slide-next .title2,
.home .swiper-slide-next .title3 {
	display: block !important;
}

/*** before : homepage **/
.page-id-8575 article:hover {
transform:scale(1.06) !important;
}
.page-id-8575 article {
	transition: transform .8s ease-in-out !important;
}
.page-id-8579 .elementor-portfolio-item__overlay {
    background-color: #ffffffcf !important;
}
.page-id-8579 .elementor-portfolio-item__title {
	color:black !important;
	display:none;
}

#site-header {
	display: none;
}

.page-id-8579 .elementor-portfolio__filters {
	margin-bottom:1.5rem !important;
}
.page-id-8579 .ozelegoster {
	display:block !important;
	font-family: "Syntax lt std", Sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
	padding-top:5px;
}

.firstsectionemre section {
	margin-top:5px !important;
}
.page-id-8129 .elementor-portfolio-item__title  {
	background: black;
    padding: 5px;
	padding-bottom:10px;
    margin: unset;
    left: unset !important;
	margin-top:5px;
transform: translateY(0) !important;
    transition: transform 0.6s ease !important;
	    position: absolute;
	width:100%;
	margin-left:unset !important;
	padding-left:90px;
	padding-top:10px;
	font-size:16px !important;
}
.page-id-8129 .elementor-portfolio-item__overlay {
	padding:unset !important;
	margin:unset !important;
}
.page-id-8129 .elementor-portfolio-item__overlay::before {
    top: -65%;
}
.altbaslik {
    font-family: "Syntax lt std", Sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
	background:white;
	color:black;
	padding-top: 5px;
	margin-top:0px;
}
.elementor-portfolio-item__img {
	 transition: 0.5s all ease-in-out !important;
	z-index:1;
	
}

.elementor-slideshow__footer {
	display: none;
}

.elementor-portfolio-item__img:hover {
	overflow:hidden !important;
	transform: scale(1.1) !important;
}
.elementor-post__thumbnail__link {
	overflow:hidden;
}

/*.elementor-widget-loop-carousel.elementor-element :is(.swiper,.swiper-container)~.elementor-swiper-button-prev {
     top: calc(var(--arrow-prev-top-align) + var(--arrow-prev-top-position) - var(--arrow-prev-caption-spacing)); 
     left: calc(var(--arrow-prev-left-align) + var(--arrow-prev-left-position)); 
     transform: translate(var(--arrow-prev-translate-x),var(--arrow-prev-translate-y)); 
    display: none;
}*/
.elementor-tab-desktop-title {
    padding: 18px 22px 0px 0px !Important;
}

.elementor-tabs-wrapper {
    overflow: hidden;
    padding-left: 21px;
}


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translate3d(0,30px,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.elementor-element.fadeInUp {
    animation-name: fadeUp
}


/*zwart vlak overlay dave*/
/*dit 1e stuk code blokkeert de dropdown effect*/ 
.elementor-widget-container:not([data-elementor-type="loop-item"]) picture.attachment-medium_large:before {
    display: none;
}
/*einde 1e stuk*/
.elementor-widget-container picture.attachment-medium_large:before {
    content: "";
    position: absolute;
    top: -60%;
    left: 15%;
    width: 7rem;
    height: 7rem;
    background-color: #000000;
    transform: translateY(0);
    transition: transform 0.6s ease, opacity 1s ease;
	z-index:9 !important;
	opacity: 0;
}

.elementor-widget-container picture.attachment-medium_large:hover:before {
    font-family: "Syntax lt std", Sans-serif;
    font-size: 16px;
    line-height: 1em;
    letter-spacing: 5px;
    font-weight: 600;
    color: white;
    content: "SAMEN\aPLEKKEN\aMAKEN" !important;
    display: flex;
    padding-top: 3.9rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    text-align: left;
    white-space: pre;
}

.elementor-widget-container picture.attachment-medium_large:hover:before {
    transform: translateY(124%); /* Move the black box downwards */
	opacity:1;
}
/*einde zwart vlak overlay dave*/
/* Prevent horizontal scrolling and set max width for html and body elements */
html, body {
max-width: 100%;
overflow-x: hidden;
}

/* Hide reCAPTCHA badge */
.hide-recaptcha-badge {
visibility: hidden;
}

.elementor-5729 .elementor-element.elementor-element-5fe4555a .elementor-swiper-button {
    width:27px;
    height: 27px;
    background-color: var(--e-global-color-primary );
    color: var(--e-global-color-text );
}

.elementor-5729 .elementor-element.elementor-element-5fe4555a .elementor-swiper-button:hover {
    background-color: #303030;
    color: white;
}
.page-id-8005 .elementor-portfolio-item__overlay::before {
    top: -62%;

}

/*Hide sticky shadow */
.elementor-sticky--active {
    box-shadow: none !important;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 0px;
  text-align: right;
	left: -2rem;
}

/* Style for the dots in the slider */
.slider .owl-dots {
  position: absolute;
  bottom: 40px; /* Adjust the vertical position as needed */
  left: 50%; /* Align horizontally centered */
  transform: translateX(-50%);
  z-index: 1; /* Set a higher z-index to make sure the dots appear in front of the images */
}

/* Style for the individual dots in the slider */
.slider .owl-dot {
  display: inline-block;
  margin: 0 5px; /* Adjust the spacing between dots as needed */
}

/* Style for the dot indicators in the slider */
.slider .owl-dot span {
  display: block;
  width: 10px; /* Adjust the size of the dot indicator as needed */
  height: 10px;
  background: #fff; /* Change the color of the dot indicator to white */
  border-radius: 50%; /* To create a circular indicator */
  transition: none; /* Remove any transition effect */
}

.elementor-portfolio__filters {
    justify-content: left !Important;
	   margin-left: -7px !Important;
 } 

.slider .owl-dot.active span {
  background: #F0EFEA; /* The active dot indicator will be #F0EFEA */
  box-shadow: 0 0 0 2px #000; /* Add a black circle using box-shadow */
}

.uc_classic_carousel_content {
	z-index: 10 !Important;
}

/* Custom CSS for the Arrow Image */
.arrow-image {
  /* Set the initial position */
  animation: moveUpDown 1s infinite alternate;
}

/* Define the animation */
@keyframes moveUpDown {
  0% {
    top: 0; /* Start position */
  }
  100% {
    top: -10px; /* End position (move up 10 pixels) */
  }
}

.elementor-13 .elementor-element.elementor-element-aef77f7 .elementor-portfolio__filters {
    margin-left: -33rem;
}

.carousel .owl-dots {
	padding-right: 5rem;
}

/*overlay project emre?*/
/* Target the overlay and create the black square */
.elementor-portfolio-item__overlay::before {
    content: ""; /* This is required for pseudo-elements */
    position: absolute;
    top: -63%;
    left: 15%;
    width: 9rem; /* Adjust as needed */
    height: 10rem; /* Adjust as needed */
    background-color: #000000 ;
	transform: translateY(0); /* Initial position */
    transition: transform 0.6s ease; /* Transition for dropping effect */
}

/* Style the text inside the black square */
.elementor-portfolio-item__overlay::before {
	font-family: "Syntax lt std", Sans-serif;
    font-size: 16px; /* Adjust as needed */
	line-height: 1em;
	letter-spacing: 5px;
	font-weight: 600;
    color: white;
    content: "SAMEN\aPLEKKEN\aMAKEN"; /* Your three words here */
    display: flex;
    padding-top: 6.9rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    text-align: left;
    white-space: pre;
}
/* On hover, move the black square downwards to reveal */
.elementor-portfolio-item__overlay:hover::before {
    transform: translateY(140%); /* Move the black box downwards */
}
.elementor-portfolio-item__overlay .elementor-portfolio-item__title {
		content: ""; /* This is required for pseudo-elements*/ 
    position: absolute;
    text-align: left;
    font-weight: 600;
    top: 90%;
    left: 4%;

}
/*overlay project emre? eind*/
@media only screen and (max-width: 1024px) {
  .elementor-13 .elementor-element.elementor-element-aef77f7 .elementor-portfolio__filters {
    margin-left: -6rem;
	}
}

/* Media query for tablet */
@media (max-width: 768px) {
/* Target the overlay and create the black square */
.elementor-portfolio-item__overlay::before {
    content: ""; /* This is required for pseudo-elements */
    position: absolute;
    top: -60%;
    left: 4%;
    width: 8rem; /* Adjust as needed */
    height: 8.5rem; /* Adjust as needed */
    background-color: black;
	transform: translateY(0); /* Initial position */
    transition: transform 0.6s ease; /* Transition for dropping effect */
}
	
.elementor-8579 .elementor-element.elementor-element-e98775f .elementor-portfolio__filter:not(:first-child) {
	margin-left: calc(0px/2) !Important;
}
	
.page-id-8579 .elementor-portfolio__filters {
	margin-bottom: 7px !important;
} 

/* Style the text inside the black square */
.elementor-portfolio-item__overlay::before {
	font-family: "Syntax lt std roman", Sans-serif;
    font-size: 16px; /* Adjust as needed */
	line-height: 1em;
    color: white;
    content: "SAMEN\aPLEKKEN\aMAKEN"; /* Your three words here */
    display: flex;
    padding-top: 5rem;
    padding-bottom: 0rem;
    padding-left: 1rem;
    text-align: left;
    white-space: pre;
}
/* On hover, move the black square downwards to reveal */
.elementor-portfolio-item__overlay:hover::before {
    transform: translateY(111%); /* Move the black box downwards */
}
.elementor-portfolio-item__overlay .elementor-portfolio-item__title {
		content: ""; /* This is required for pseudo-elements*/ 
    position: absolute;
    text-align: left;
    font-weight: 600;
    top: 90%;
    left: 4%;

 }
}

/* Media query for mobile */
@media (max-width: 480px) {
	
.eersteerijimg::before {
    top: -67%;
    left: 4%;
    width: 6.5rem;
    height: 6.7rem;
}

.eersteerijimg::before {
    font-size: 12px;
    padding-top: 4rem;
    padding-bottom: 1px !important;
    padding-left: 5px;
    padding-right: 1rem;
	line-height:12px !important;
}

.elementor-portfolio-item__overlay::before {
    font-family: "Syntax lt std roman", Sans-serif;
    font-size: 12px;
    color: white;
    content: "SAMEN\aPLEKKEN\aMAKEN";
    display: flex;
    padding-top: 4rem;
    padding-bottom: 1px !important;
    padding-left: 5px;
    padding-right: 1rem;
    text-align: -webkit-left !important;
    white-space: pre!important;
	line-height:12px !important;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	left: 0rem;
}
	  .elementor-13 .elementor-element.elementor-element-aef77f7 .elementor-portfolio__filters {
    margin-left: -1rem;
	}
	
	.carousel .owl-dots {
	padding-right: 0rem;
	}
	
.elementor-8579 .elementor-element.elementor-element-e98775f .elementor-portfolio__filter:not(:first-child) {
margin-left: calc(-35px/2) !Important;
}
	
/* Target the overlay and create the black square */
.elementor-portfolio-item__overlay::before {
    content: ""; /* This is required for pseudo-elements */
    position: absolute;
    top: -140%;
    left: 15%;
    width: 6.6rem; /* Adjust as needed */
    height: 6.9rem; /* Adjust as needed */
    background-color: black;
	transform: translateY(0); /* Initial position */
    transition: transform 0.6s ease; /* Transition for dropping effect */
}

/* Style the text inside the black square */
.elementor-portfolio-item__overlay::before {
	font-family: "Syntax lt std roman", Sans-serif;
    font-size: 12px; /* Adjust as needed */
	line-height: 1em;
    color: white;
    content: "SAMEN\aPLEKKEN\aMAKEN"; /* Your three words here */
    display: flex;
    padding-top: 4.4rem;
    padding-bottom: 3rem;
    padding-left: 0.3rem;
    padding-right: 1rem;
    text-align: left;
    white-space: pre;
}

/* On hover, move the black square downwards to reveal */
.elementor-portfolio-item__overlay:hover::before {
    transform: translateY(140%); /* Move the black box downwards */
}
.elementor-portfolio-item__overlay .elementor-portfolio-item__title {
		content: ""; /* This is required for pseudo-elements*/ 
    position: absolute;
    text-align: left;
    font-weight: 600;
    top: 87%;
    left: 4%;

	}
}

.ozelegoster {
	display:none;
}
/** 1. sayfa **/
.elementor-portfolio-item__overlay {
    z-index: 999;
	
}

/** 2. sayfa **/
.elementor-page-7942 .elementor-portfolio-item__overlay {
    z-index: 999;
	
}

.elementor-page-7942  .elementor-portfolio-item__title {
	left:unset !important;
	right: 4%;
}
/** 3. sayfa **/
.elementor-page-7961 .elementor-portfolio-item__title {
	display:none !important;
	
}
.elementor-page-7961 .ozelegoster {
	margin-top:5px;
	display:block !important; 
	    font-family: "Syntax lt std", Sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
	
}

.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
    font-weight: 600;
}
.page-id-8129 .elementor-portfolio-item__overlay::before {
    top: -65% !important;
}
.page-id-8129 .ozelegoster {
	background:white !important;
		display:block !important; 
	color:black !important;
	   font-family: "Syntax lt std", Sans-serif;
    font-size: 16px !important;
    font-weight: bold;
    text-transform: uppercase;
	padding-top:6px;
}
.page-id-8129 .elementor-portfolio-item__title {
	display:none !important;
}

.page-id-8488 .elementor-portfolio-item__overlay::before {
    top: -65% !important;
}
.page-id-8488 .ozelegoster {
	background:white !important;
		display:block !important; 
	color:black !important;
	   font-family: "Syntax lt std", Sans-serif;
    font-size: 16px !important;
    font-weight: bold;
    text-transform: uppercase;
	padding-top:6px;
}
.page-id-8488 .elementor-portfolio-item__title {
	display:none !important;
}
.elementor-portfolio-item__overlay::before {
    letter-spacing: 2px !important;
}
.page-id-8488 article:hover {
	top:-10px;
	position: relative;
}
.page-id-8488 article {
transition: top ease 0.5s;
	  position: relative;
	top:0px;
}
.page-id-8488 .elementor-portfolio__filters {
	margin-bottom:1.5rem !important;
}

.hover-text1, .hover-text2, .hover-text3, .hover-text4, .hover-text5,
.hover-text6, .hover-text7, .hover-text8, .hover-text9, .hover-text10, .hover-text11, .hover-text12, .hover-text13, .hover-text14 {
    width: fit-content !important;
}
.hover-container1 .hover-text1,
.hover-container2 .hover-text2,
.hover-container3 .hover-text3,
.hover-container4 .hover-text4,
.hover-container5 .hover-text5,
.hover-container6 .hover-text6,
.hover-container7 .hover-text7,
.hover-container8 .hover-text8,
.hover-container9 .hover-text9,
.hover-container10 .hover-text10,
.hover-container11 .hover-text11,
.hover-container12 .hover-text12,
.hover-container13 .hover-text13,
.hover-container14 .hover-text14 {
	z-index:-1;
}

.initial-text1, .hover-text1,
.initial-text2, .hover-text2,
.initial-text3, .hover-text3,
.initial-text4, .hover-text4,
.initial-text5, .hover-text5,
.initial-text6, .hover-text6,
.initial-text7, .hover-text7,
.initial-text8, .hover-text8,
.initial-text9, .hover-text9,
.initial-text10, .hover-text10,
.initial-text11, .hover-text11,
.initial-text12, .hover-text12,
.initial-text13, .hover-text13,
.initial-text14, .hover-text14 {
    transition: unset !important;
}

@media only screen and (max-width: 900px) {
    .elementor-portfolio-item__overlay::before {
        top: -75%;
    }
}

.elementor-portfolio-item__overlay::before {
    top: -15em !important; 
}

@media only screen and (max-width: 768px) {
    .elementor-portfolio-item__overlay::before {
        top: -13em !important; 
    }
}

.swiper-slide h2, .swiper-slide h3, .swiper-slide-prev h2, .swiper-slide-prev h3{
display:none !important;	
}
.swiper-slide-active .title1, .swiper-slide-active .title2, .swiper-slide-active .title3, .swiper-slide-next .title1, .swiper-slide-next .title2, .swiper-slide-next .title3 {
	display:block !important
}

.elementor-portfolio-item__overlay[data-overlay-content]::before,
.elementor-widget-container picture.attachment-medium_large[data-overlay-content]:hover::before,
.eersteerijimg[data-overlay-content]::before,
[data-overlay-content]::before {
    content: attr(data-overlay-content);
}
/**/
.elementor-portfolio-item__overlay[data-overlay-position="bottom"]::before,
.elementor-widget-container picture.attachment-medium_large[data-overlay-position="bottom"]:hover::before,
.eersteerijimg[data-overlay-position="bottom"]::before,
[data-overlay-position="bottom"]::before {
    padding-top: 8rem;
}
@media only screen and (max-width: 750px) {
    .elementor-portfolio-item__overlay[data-overlay-position="bottom"]::before,
    .elementor-widget-container picture.attachment-medium_large[data-overlay-position="bottom"]:hover::before,
    .eersteerijimg[data-overlay-position="bottom"]::before,
    [data-overlay-position="bottom"]::before {
        padding-top: 7rem;
    }
}
@media only screen and (max-width: 550px) {
    .elementor-portfolio-item__overlay[data-overlay-position="bottom"]::before,
    .elementor-widget-container picture.attachment-medium_large[data-overlay-position="bottom"]:hover::before,
    .eersteerijimg[data-overlay-position="bottom"]::before,
    [data-overlay-position="bottom"]::before {
        padding-top: 6rem;
    }
}
@media only screen and (max-width: 350px) {
    .elementor-portfolio-item__overlay[data-overlay-position="bottom"]::before,
    .elementor-widget-container picture.attachment-medium_large[data-overlay-position="bottom"]:hover::before,
    .eersteerijimg[data-overlay-position="bottom"]::before,
    [data-overlay-position="bottom"]::before {
        padding-top: 5rem;
    }
}